<!doctype html>
<html>
    <head>
        <title>{{ name }} Server</title>
        <h3>{{ name }} Server Result</h3>

        <style type="text/css">
            table, td, th {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }
            thead {
                background-color: lightsteelblue;
                font-weight: bold;
            }
            tfoot {
                background-color: aliceblue;
            }
        </style>
    </head>
    <body>
        <table width="600">
            <thead>
                <td>round</td>
                <td>accuracy (%)</td>
                <td>setup time (sec)</td>
                <td>time (sec)</td>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>{{ sum }}</td>
                </tr>
            </tfoot>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>